.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

button {
  color: rgb(243, 208, 8);
  background-color: #292D3E;
  border: 1px solid rgb(199, 206, 211);
  border-radius: 4px;
  padding: 0 15px;
  cursor: pointer;
  height:32px;
  font-size:14px;
  transition: all 0.2s ease-in-out;
  
  }
  button:hover {
  box-shadow: 1px 1px #3e3f41, 2px 2px #be2222, 3px 3px #be2222;
  transform: translateX(-3px);
  }

  .divider{
    width:10px;
    height:auto;
    display:inline-block;
}

.NavBar {
  background-color: black;
  font-size: 20px;
  color: white;
  height: 70px;
}

ul{
  list-style-type: none;
}

.pokemonCard {
  height: 128px;
  width: 210px;
}

.tiles {
  display: grid;
  grid-gap: 15px;
  grid-template-columns: repeat(auto-fit, 210px);
  max-height:300px;
}

.profileBox{
  /* float:left;
  margin: 10px 0px;
  padding: 20px;
  border: 2px dashed grey; */
  float: left; 
  width: 5%; 
  text-align: left;
}

  .verticalBox { 
  border-left: 6px solid black; 
  /* height: 300px;  */
  position:absolute; 
  left: 50%; 
  width: 25%;
} 

.scrollbar {
  overflow-y: scroll;
}

.lowerForm{
  float: left;
  display: block;
  /* margin-right: 1em; */
  /* height: 25%; */
  margin: 10%;
  padding: 3%;
}

.twitterBox{
  width: 40%;
  height: 40%;
  overflow-y: scroll;
}

.drag-n-drop {
padding: .5rem;
display: grid;
width: 100%;
height: 100%;
grid-template-columns: repeat(auto-fill, 300px);
gap: .5rem;
align-items: start;
}

.dnd-group{
background-color: #282c34;
border-radius: 5px;
padding: .5rem;
}

.dnd-item {
  min-height: 150px;
  border-radius: 5px;
  background-color: white;
  color: #282c34;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bold;
}
.dnd-item:not(:last-of-type) {
  margin-bottom: .5rem;
}
.dnd-item *{
  margin: 0;
  font-size: 1.2rem;
}

.group-title {
  text-align: left;
  margin-bottom: .5rem;
  font-size: 1.5rem;
}

.pos_right {
  position: relative;
  left: 100px;
}

.pos_left {
  position: relative;
  left: -140px;
}